
*{
    font-family: "Mulish", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%; 
}
.page-bg{
    background-color: #f1f2ff;
}
.highlighted-products {
    padding: 20px;
    background-color: #dacaec;
}
header{
    display:flex;
    position: sticky;
    top: 0;
    z-index: 1000;
}
footer{
    background: #cab1e2;
    margin: "50px 50px"
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #dacaec; 
    width: 100%;
}
.brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-family: "Spicy Rice", serif;
}
.bg-navbar {
    background-image: url("../assets/images/kapadox.jpeg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.ga-maamli-regular {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}
.navbar nav ul li a {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.navbar nav ul li a:hover,
.navbar nav ul li a:active,
.navbar nav ul li a:focus {
    text-decoration: none;
    color: inherit; 
}
.brand-explanation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0; 
}
.brand-explanation p {
    width: 50%; 
    text-align: center; 
}

/* PRODUCT CARDS*/

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.product-card {
    text-align: center;
    max-width: 300px;
}
.product-image {
    background-color: #f1f2ff;
    border: 1px solid #5b2e48;
    border-radius: 5px;
    padding: 10px;
    width:100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.product-image img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
}
.product-card p {
    margin: 10px 0;
}
.product-card button {
    background-color: #8e44ad;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.all-products-text {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
/*  NEWSLETTER*/

.newsletter-subscription {
    background: #cab1e2;
    padding: 40px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.newsletter-content {
    max-width: 500px;
  }
.newsletter-announcement {
    font-size: 14px;
    margin-bottom: 10px;
  }
.newsletter-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .newsletter-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .newsletter-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .newsletter-form input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .newsletter-form button {
    background-color: #8e44ad; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

/*  PRODUCTS PAGE*/
.product-page-bg{
    background-color:"#ffffff"
}
.products-holder{
    display: flex;
    height: 100%;
}
.content {
    display: flex;
}
.sidebar {
    flex: 0 0 200px; 
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
}
.sidebar h3 {
    margin-bottom: 10px;
}
.filter-options {
    list-style-type: none;
    padding: 0;
}
.filter-options li {
    margin-bottom: 10px;
}
.filter-options a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.filter-options a:hover {
    background-color: #e0e0e0;
}
.product-list {
    flex: 1; 
    padding-left: 20px;
    padding-right: 20px;
}
.product-list h2 {
    margin-bottom: 20px;
}
/*  SHOPPING CART PAGE*/
.shopping-cart-main {
    margin-left: 20px;
}
.cart-text {
    margin-left: 40px;
    font-size: 20px;
}

/*  CONTACT PAGE*/
.contact-title{
    margin-left: 20px;
}
.contact-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 0px 20px 20px 20px;
}
.contact-info {
    width: 30%;
}
.contact-info p {
    margin-bottom: 10px;
}
.contact-info a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:70%;
}
.contact-form label {
    font-weight: bold;
}
.contact-form input {
    width: 80%;
    margin-bottom: 20px; 
}
.contact-form textarea {
    width: 80%;
    margin-bottom: 20px
}
.contact-form button {
    background-color: #8e44ad;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}