
@import './variables';

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin button-style {
    background-color: $primary-color;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @mixin responsive-style($font-size: null, $height: null, $width: null, $padding: null, $margin: null) {
    @if $font-size {
      font-size: $font-size;
    }
    @if $height {
      height: $height;
    }
    @if $width {
      width: $width;
    }
    @if $padding {
      padding: $padding;
    }
    @if $margin {
      margin: $margin;
    }
  }
  