$primary-font: "Mulish", sans-serif;
$secondary-font: "Spicy Rice", serif;
$primary-bg-color: #f1f2ff;
$secondary-bg-color: #dacaec;
$highlight-bg-color: #cab1e2;
$primary-color: #8e44ad;
$border-color: #5b2e48;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$transition-time: 0.3s;
