@import '../variables';
@import '../mixins';

.product-page-bg {
  background-color: #ffffff;
}

.products-holder {
  display: flex;
  height: 100%;
  padding-bottom: 60px;
  
  .content {
    display: flex;
  
    .product-list {
      flex: 1;
      @include responsive-style(null, null, null, 0 20px);
  
      h2 {
        @include responsive-style(null, null, null, 0 0 20px);
      }
    }
  }
}


