@import '../variables';
@import '../mixins';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive-style(null, null, 100%, 10px 20px);
  background-color: $secondary-bg-color;

  .navbar-brand {
    @include responsive-style(24px);
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    font-family: $secondary-font;
  }

  .navbar-nav {
    margin-left: auto;
  }
}
.carousel {
  position: relative;

  .carousel-item {
    position: relative;

    .carousel-image {
      height: 50vh; 
      object-fit: cover; 
    }
  }
}

.nav-link {
  @include responsive-style(18px);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
